---
import { Blog } from "../library/microcms";
import CardTags from "./CardTags.astro";
import ArticleDate from "./ArticleDate.astro";
const { blogs } = Astro.props;
---

{
  // 配列の中身が１以上ある場合
  blogs.totalCount > 0 ? (
    blogs.contents.map((blog: Blog) => {
      return (
        <article>
          <a href={`/${blog.id}`}>
            <div class="article__img">
              <img width="1200" height="630" src={blog.eyecatch.url} />
            </div>
          </a>

          <div class="article__text">
            <ArticleDate blog={blog} />

            <CardTags blog={blog} />
            <a href={`/${blog.id}`}>
              <h2>{blog.title}</h2>
            </a>
          </div>
        </article>
      );
    })
  ) : (
    <p>まだ記事がありません</p>
  )
}

<style lang="scss">
  .article__img {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

    &::before {
      background: linear-gradient(45deg, #d8ffff, #87e7ff);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity, 0.25s;
      width: 100%;
      z-index: 1;
      pointer-events: none;
    }

    &:hover img {
      transform: scale(1.05);
    }

    &:hover::before {
      opacity: 0.1;
    }

    & img {
      object-fit: cover;
      transition: transform, 0.25s;
      aspect-ratio: 16 / 9;
    }
  }

  .article__text {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    & p {
      font-size: 12px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 700;

    @include mq(md) {
      font-size: 20px;
    }
  }
</style>
