---
import { Blog } from "../library/microcms";
import CardTags from "./CardTags.astro";
import { getEyecatch, setDateFormat } from "../library/common";
const { blogs } = Astro.props;
---

{
  // 配列の中身が１以上ある場合
  blogs.totalCount > 0 ? (
    blogs.contents.map((blog: Blog) => {
      const imageUrl = getEyecatch(blog);
      const date = setDateFormat(blog);

      return (
        <article>
          <div class="article__img">
            <a href={`/${blog.id}`}>
              <img width="1200" height="630" src={imageUrl} />
            </a>
          </div>

          <div class="article__text">
            <p>
              <time datetime={blog.publishedAt}>{date}</time>
            </p>

            <CardTags blog={blog} />
            <h2>
              <a href={`/${blog.id}`}>{blog.title}</a>
            </h2>
          </div>
        </article>
      );
    })
  ) : (
    <p>まだ記事がありません</p>
  )
}

<style lang="scss">
  .article__img {
    width: 340px;
    height: 230px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

    &::before {
      background: linear-gradient(45deg, #d8ffff, #87e7ff);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity, 0.25s;
      width: 100%;
      z-index: 1;
      pointer-events: none;
    }

    &:hover img {
      transform: scale(1.05);
    }

    &:hover::before {
      opacity: 0.1;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform, 0.25s;
    }
  }

  .article__text {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    & p {
      font-size: 12px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: bold;

    @include mq(md) {
      font-size: 20px;
    }
  }
</style>
